In [16]:
import re
import os

In [18]:
fp=pwd

NameError: name 'pwd' is not defined

In [19]:
print(os.getcwd())

C:\Users\SAI\machine_learning-use case NLP Resume

In [156]:
f = open("nlp code parsing xample.txt", "r")
body=f.read() 
body

"[['SAIRAM PATHIKONDA LAKSHMI\\n',\n  '\\n',\n  'E - M A I L : pathikondalakshmisairam@gmail.com\\n',\n  '\\n',\n  ' P H O N E : + 9 1 Ã¢â‚¬â€œ 9910649514\\n',\n  '\\n',\n  '\\n',\n  '\\n',\n  'Professional Summary: 3 +  years of relevant experience in IT industry using Big Data.\\n',\n  '\\n',\n  'Experience of working in the Software development life cycle involving development, documentation, testing and maintenance.\\n',\n  '\\n',\n  'Having good understanding of ETL concepts and process'],\n  ['Raja\\n',\n  '\\n',\n  '\\t\\t\\tAddress: 1-5-817/1 ,new maruthi nagar, road no:3b kothapet , Hyderabad(A.P).\\n',\n  '\\n',\n  '                                    Contact No: +919910649514, +91 9490493917.\\n',\n  '\\n',\n  '\\t\\t\\tEmail ID: raja@gmail.com \\n',\n  '\\n',\n  '\\n',\n  '\\n',\n  'OBJECTIVE:\\n',\n  '\\n',\n  '\\n',\n  '\\n',\n  'To work in an organization where I can use my skills to achieve the organization objective and get conductive environment to Learn and grow.\\n',\n  '\\n',\n  '\\n',\n  '\\n',\n  'PROFESSIONAL SYNOPSIS\\n',\n  '\\n',\n  '\\n',\n  '\\n',\n  'An astute professional from B.tech (CSE -first class ) background with international certification like ITIL V3.0 , CCCP (Exin).\\n',\n  '\\n',\n  'Hands on experience with Cisco routers and switches ,  Cloud (SaaS , IaaS).\\n',\n  '\\n',\n  'Interact well with people of diverse backgrounds, cultures, professional and technical levels.\\n',\n  '\\n',\n  'An effective communicator with exceptional analytical, decision making and client relationship management skills.\\n',\n  '\\n',\n  '\\n',\n  '\\n',\n  '\\n',\n  '\\n',\n  'TECHNICAL SKILLS:\\n',\n  '\\n',\n  'Language                                  :     C, C++, JAVA ,Networking(Routing& Switching)'],['PATHIKONDA LAKSHMI SAIRAM\\n',\n  '\\n',\n  'H NO: 1-5-817/1, NEW MARUTHI NAGAR,\\n',\n  '\\n',\n  'ROAD NO: 3(B), KOTHAPET, HYDERABAD (A.P),PIN: 500060.\\n',\n  '\\n',\n  'MOB: +91-7404-717221,+91-8978-629288.\\n',\n  '\\n',\n  'E-MAIL-sairamdgr8@gmail.com.\\n',\n  '\\n',\n  '\\n',\n  '\\n',\n  '\\n',\n  '\\n',\n  '\\n',\n  '\\n',\n  '\\n',\n  'OBJECTIVE\\n',\n  '\\n',\n  'To achieve a challenging career in corporate world innovatively applying my learning , constantly upgrading my knowledge and hence working towards the benefit of society. \\n',\n  '\\n',\n  '\\n',\n  '\\n',\n  'PRESENT STATUS\\n',\n  '\\n',\n  'Pursuing second year of bachelor of technology from MDU Rohtak.\\n',\n  '\\n',\n  '\\n',\n  '\\n',\n  'ACADEMIC QUALIFICATIONS\\n',\n  '\\n',\n  'S.NO\\n',\n  '\\n',\n  'Qualification\\n',\n  '\\n',\n  'Board/University\\n',\n  '\\n',\n  'Name of the institute\\n',\n  '\\n',\n  'Year of passing\\n',\n  '\\n',\n  '%age/cgpa\\n',\n  '\\n',\n  '1.\\n',\n  '\\n',\n  'B.Tech(cse)\\n',\n  '\\n',\n  'MDU,Rohtak\\n',\n  '\\n',\n  'Delhi technical campus\\n',\n  '\\n',\n  'pursuing\\n',\n  '\\n',\n  '70\\n',\n  '\\n',\n  '2.\\n',\n  '\\n',\n  '10+2\\n',\n  '\\n',\n  'Andhra Pradesh\\n',\n  '\\n',\n  'Sri gayatri junior college\\n',\n  '\\n',\n  '2013\\n',\n  '\\n',\n  '91.4\\n',\n  '\\n',\n  '3.\\n',\n  '\\n',\n  '10\\n',\n  '\\n',\n  'Andhra pradesh \\n',\n  '\\n',\n  'Priya bharathi high school\\n',\n  '\\n',\n  '2011\\n',\n  '\\n',\n  '91\\n',\n  '\\n',\n  '\\n',\n  '\\n',\n  'TRAINING \\n',\n  '\\n',\n  'Having some basic knowledge about ms office.\\n',\n  '\\n',\n  'Having some basic knowledge about c language.\\n',\n  '\\n',\n  '\\n',\n  '\\n',\n  'ACHIEVEMENTS\\n',\n  '\\n',\n  'Achieved  3rd position in mono action in interschool competition.\\n',\n  '\\n',\n  'Won  2nd  in essay writing competition.\\n',\n  '\\n',\n  '\\n',\n  '\\n',\n  'HOBBIES\\n',\n  '\\n',\n  'Addicted to PC games.\\n',\n  '\\n',\n  'Playing Mobile games.\\n',\n  '\\n',\n  'Reading Newspaper']]\n  \n  "

In [157]:
body=(body.replace('\\n', '').replace('\n', '').replace('\t', '').replace('',""))
body

"[['SAIRAM PATHIKONDA LAKSHMI',  '',  'E - M A I L : pathikondalakshmisairam@gmail.com',  '',  ' P H O N E : + 9 1 Ã¢â‚¬â€œ 9910649514',  '',  '',  '',  'Professional Summary: 3 +  years of relevant experience in IT industry using Big Data.',  '',  'Experience of working in the Software development life cycle involving development, documentation, testing and maintenance.',  '',  'Having good understanding of ETL concepts and process'],  ['Raja',  '',  '\\t\\t\\tAddress: 1-5-817/1 ,new maruthi nagar, road no:3b kothapet , Hyderabad(A.P).',  '',  '                                    Contact No: +919910649514, +91 9490493917.',  '',  '\\t\\t\\tEmail ID: raja@gmail.com ',  '',  '',  '',  'OBJECTIVE:',  '',  '',  '',  'To work in an organization where I can use my skills to achieve the organization objective and get conductive environment to Learn and grow.',  '',  '',  '',  'PROFESSIONAL SYNOPSIS',  '',  '',  '',  'An astute professional from B.tech (CSE -first class ) background with international certification like ITIL V3.0 , CCCP (Exin).',  '',  'Hands on experience with Cisco routers and switches ,  Cloud (SaaS , IaaS).',  '',  'Interact well with people of diverse backgrounds, cultures, professional and technical levels.',  '',  'An effective communicator with exceptional analytical, decision making and client relationship management skills.',  '',  '',  '',  '',  '',  'TECHNICAL SKILLS:',  '',  'Language                                  :     C, C++, JAVA ,Networking(Routing& Switching)'],['PATHIKONDA LAKSHMI SAIRAM',  '',  'H NO: 1-5-817/1, NEW MARUTHI NAGAR,',  '',  'ROAD NO: 3(B), KOTHAPET, HYDERABAD (A.P),PIN: 500060.',  '',  'MOB: +91-7404-717221,+91-8978-629288.',  '',  'E-MAIL-sairamdgr8@gmail.com.',  '',  '',  '',  '',  '',  '',  '',  '',  'OBJECTIVE',  '',  'To achieve a challenging career in corporate world innovatively applying my learning , constantly upgrading my knowledge and hence working towards the benefit of society. ',  '',  '',  '',  'PRESENT STATUS',  '',  'Pursuing second year of bachelor of technology from MDU Rohtak.',  '',  '',  '',  'ACADEMIC QUALIFICATIONS',  '',  'S.NO',  '',  'Qualification',  '',  'Board/University',  '',  'Name of the institute',  '',  'Year of passing',  '',  '%age/cgpa',  '',  '1.',  '',  'B.Tech(cse)',  '',  'MDU,Rohtak',  '',  'Delhi technical campus',  '',  'pursuing',  '',  '70',  '',  '2.',  '',  '10+2',  '',  'Andhra Pradesh',  '',  'Sri gayatri junior college',  '',  '2013',  '',  '91.4',  '',  '3.',  '',  '10',  '',  'Andhra pradesh ',  '',  'Priya bharathi high school',  '',  '2011',  '',  '91',  '',  '',  '',  'TRAINING ',  '',  'Having some basic knowledge about ms office.',  '',  'Having some basic knowledge about c language.',  '',  '',  '',  'ACHIEVEMENTS',  '',  'Achieved  3rd position in mono action in interschool competition.',  '',  'Won  2nd  in essay writing competition.',  '',  '',  '',  'HOBBIES',  '',  'Addicted to PC games.',  '',  'Playing Mobile games.',  '',  'Reading Newspaper']]    "

In [158]:
s=[['sai' ,'he' ,'is' ,'good boy','ram' ,'bolo','pathikonda@gmail.com'],['ram', 'he', 'is' ,'bad', 'boy', 'in', 'school','ram','ram@yahoo.co.in'],['bunny' ,'he', 'smart','boy','in','school','bunny@outlook.com']]

In [175]:
type(s)

list

In [159]:
(s[0][:])

['sai', 'he', 'is', 'good boy', 'ram', 'bolo', 'pathikonda@gmail.com']

In [160]:
s[1][:]

['ram', 'he', 'is', 'bad', 'boy', 'in', 'school', 'ram', 'ram@yahoo.co.in']

In [161]:
j=0
for i in s[j][:]:
    print("".join(i))
    j=j+1

sai
he
is
good boy
ram
bolo
pathikonda@gmail.com

In [162]:
" ".join(s[0][:])

'sai he is good boy ram bolo pathikonda@gmail.com'

In [163]:
j=0
b=[]
for i in s:
    b.append(" ".join(s[j][:]))
    j=j+1
    print(i)
print(b)

['sai', 'he', 'is', 'good boy', 'ram', 'bolo', 'pathikonda@gmail.com']
['ram', 'he', 'is', 'bad', 'boy', 'in', 'school', 'ram', 'ram@yahoo.co.in']
['bunny', 'he', 'smart', 'boy', 'in', 'school', 'bunny@outlook.com']
['sai he is good boy ram bolo pathikonda@gmail.com', 'ram he is bad boy in school ram ram@yahoo.co.in', 'bunny he smart boy in school bunny@outlook.com']

In [164]:
b

['sai he is good boy ram bolo pathikonda@gmail.com',
 'ram he is bad boy in school ram ram@yahoo.co.in',
 'bunny he smart boy in school bunny@outlook.com']

In [165]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

# Step 2. Design the Vocabulary
# The default token pattern removes tokens of a single character. That's why we don't have the "I" and "s" tokens in the output
count_vectorizer = CountVectorizer()

# Step 3. Create the Bag-of-Words Model
bag_of_words = count_vectorizer.fit_transform(b)

# Show the Bag-of-Words Model as a pandas DataFrame
feature_names = count_vectorizer.get_feature_names()
feat_df=pd.DataFrame(bag_of_words.toarray(), columns = feature_names)
feat_df

,bad,bolo,boy,bunny,co,com,gmail,good,he,in,is,outlook,pathikonda,ram,sai,school,smart,yahoo
0,0,1,1,0,0,1,1,1,1,0,1,0,1,1,1,0,0,0
1,1,0,1,0,1,0,0,0,1,2,1,0,0,3,0,1,0,1
2,0,0,1,2,0,1,0,0,1,1,0,1,0,0,0,1,1,0

In [166]:
folder = r"resumes/"
file_lister=[]
filepaths = glob.glob(os.path.join(folder, '*docx'))
for fp in filepaths:
    with open(fp, 'r') as f:
        file_lister.append(fp)
        print(c)   
#" ".join(file_lister)

None
None
None

In [167]:
import glob

txtfiles = []
for file in glob.glob("resumes/*.docx"):
    txtfiles.append(file)

In [168]:
txtfiles

['resumes\\12dfc0b2-a9bb-4f6b-bd3b-6e65bf45d125.docx',
 'resumes\\cdea9bb7-c7fc-4924-bcad-6250eb80f641.docx',
 'resumes\\e6b090d6-dfc8-4420-880a-1de0659e2d19.docx']

In [169]:
#feat_df1=pd.DataFrame(txtfiles.toarray(), columns = resume_name)
feat_df1 = pd.DataFrame(txtfiles,columns =['Names']) 
feat_df1

                                               Names
0  resumes\12dfc0b2-a9bb-4f6b-bd3b-6e65bf45d125.docx
1  resumes\cdea9bb7-c7fc-4924-bcad-6250eb80f641.docx
2  resumes\e6b090d6-dfc8-4420-880a-1de0659e2d19.docx

In [172]:
final_df=feat_df.join(feat_df1)
final_df

,bad,bolo,boy,bunny,co,com,gmail,good,he,in,is,outlook,pathikonda,ram,sai,school,smart,yahoo,Names
0,0,1,1,0,0,1,1,1,1,0,1,0,1,1,1,0,0,0,resumes\12dfc0b2-a9bb-4f6b-bd3b-6e65bf45d125.docx
1,1,0,1,0,1,0,0,0,1,2,1,0,0,3,0,1,0,1,resumes\cdea9bb7-c7fc-4924-bcad-6250eb80f641.docx
2,0,0,1,2,0,1,0,0,1,1,0,1,0,0,0,1,1,0,resumes\e6b090d6-dfc8-4420-880a-1de0659e2d19.docx